html {
  scroll-behavior: smooth;
}

body {
  background-color: #F8F8F8;
  font-family: 'Nunito';
}

.starter {
  font-size: 18px;
}

.container {
  padding: 0 20px;
  max-width: 1170px;
  margin: 0 auto;
}