.intro {
	font-family: 'Nunito';
	padding: 0;
	margin: 0;
  	height: 650px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
	 						url('../images/pexels-alexandr-podvalny-1227513.jpeg');
							
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&__content {
		max-width: 380px;
		margin-bottom: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 20px;
	}

	&__title {
		margin: 0;
		padding: 0 0 20px;
		color:white;
		font-family: 'Nunito';
		font-style: normal;
		font-weight: 400;
		font-size: 40px;
		line-height: 40px;

		text-align: center;
	}

	&__subtitle {
		margin: 0;
		padding: 0 0 32px;
		max-width: 380px;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 26px;

		text-align: center;

		color: #FFFFFF;

	}
}

.button {
  padding: 0;
  margin: 0;
	width: 100px;
	height: 34px;

	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;

	color: black;

	font-size: 16px;
	box-sizing: border-box;
	background-color: #F4E041;
	border-radius: 80px;

	cursor: pointer;

	transition: 0.3s ease;

  &:hover {
    outline: #FFE302;
	background-color: #FFE302;
  }
}